
body,h1{
  margin: 0;
}
.top-container{
  background-color: #abedd8;
  height: 200px;
  width: 200px;
  border: solid 10px;
  padding: 20px;
}
.middle-container{
  background-color: red;
  height: 200px;
  width: 200px;
  margin-left: 260px;
  border: solid 20px;
}
.bottom-container{
  background-color: blue;
  height: 200px;
  border: solid 10px;
  width: 200px;
  margin-left: 500px;
}
